@model ListViewModel<Item>

@{
    ViewBag.Title = "Product";
    Layout = "_Layout";
}
@{
    var categories = ViewData["Categories"] as IEnumerable<ItemCategory>;
    Guid currentCategory = (Guid)ViewData["CurrentCategory"];

    var text = currentCategory != Guid.Empty ?
        categories.FirstOrDefault(g => g.Id == currentCategory)?.CategoryName : "All";
}

<div class="scaffold">
    <div class="row">
        <div class="col-2">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle"
                   asp-action="Index" asp-controller="Product"
                   role="button"
                   id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @text
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item"
                           asp-action="Index"
                           asp-controller="Product">
                            All
                        </a>
                    </li>

                    @foreach (var item in categories)
                    {
                        <li>
                            <a class="dropdown-item"
                               asp-action="Index"
                               asp-controller="Product"
                               asp-route-category="@item.Id"
                               asp-route-page="1">
                                @item.CategoryName
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-10">
            <div class="card-group" id="list">
                <partial name="_ListPartial" model="@Model"/>
            </div>
            <pager page-current="@Model.CurrentPage"
                   page-total="@Model.PagesCount"
                   action="Index"
                   controller="Product"
                   group-id="@currentCategory">
            </pager>
        </div>
    </div>
</div>