@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WEB_053502_YUREV.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("Cart")
    <div class="dropdown ms-4 nav-color">
        <div class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="true">
            <img src="@Url.Action("GetAvatar", "Home")" 
                 onerror="this.onerror=null; this.src='@Url.Content("./images/avatar.png")'" 
                 width="40" height="40" alt="@User.Identity.Name" class="rounded"/>
        </div>
        <ul class="dropdown-menu"
            aria-labelledby="dropdownMenuButton">
            <li>
                <div class="dropdown-item-text">
                    <img src="@Url.Action("GetAvatar", "Home")" 
                         onerror="this.onerror=null; this.src='@Url.Content("./images/avatar.png")'" 
                         width="40" height="40" alt="@User.Identity.Name" class="rounded"/>
                    @User.Identity.Name
                </div>
            </li>
            <li>
            <div class="dropdown-divider"></div>
            <li>
                <a class="dropdown-item" asp-controller="Cart" asp-action="Index">Корзина</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Product" asp-action="UserProducts">Мои товары</a>
            </li>
            <li>
                <form id="form-inline" class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <a href="javascript:{}" onclick="document.getElementById('form-inline').submit()">Log out</a>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="nav navbar-nav navbar-right">
        <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Login">Вход</a>
        <a class="nav-item nav-link" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </div>
}
<!-- Информация пользователя - конец -->